* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #2d59a5, #175da2);
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    padding: 10px;
}

button {
    display: flex;
    margin-top: 20px;
    padding: 20px;
    background: rgb(16, 158, 56);
    border: none;   
    border-radius: 10px;
}

button:hover {
    background: rgb(9, 146, 54);    
    cursor: pointer;
}

p {
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}